<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login | File-Exchange</title>
</head>
<body>
    <h1>File-Exchange Login</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li><strong>{{ category }}:</strong> {{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <div>
            <label>Username</label>

            <input type="text" name="username" required>
        </div>
        

        <div>
            <label>Password</label>

            <input type="password" name="password" required>
        </div>
        

        <button type="submit">Log in</button>
    </form>
</body>
</html>
